.chat{
    position: relative;
    padding: 10px;
    background-color: #3a3b3c;
    width: 50%;
    height: fit-content;
    border-radius: 10px;
    margin-bottom: 10px;
    &-sender{
        font-weight: bold;
    }
    &-message{
        font-size: 14px;
        color: $white;
    }
}

.sender{
    align-self: flex-end;
    .chat-message{
        text-align: right;
    }
}