.profile {
    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }
  
    /* Track */
    ::-webkit-scrollbar-track {
        background: $blue-light; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $gold; 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }

    .interface {
        text-align: left;
    }

    .closepopup{
        border: 2px solid $blue-light;
        padding: 0.4rem;
        border-radius: 0.4rem;
    }

    .topsection{
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $gold;
        margin-bottom: 0.4rem;
    }
    
    .roundToggler{
        text-align: center;
        cursor: pointer;
        padding: 0.8rem;
        color: $gold;
        font-weight: 700;
        border: 1px $gold solid;
        border-radius: 1rem;
        margin: 1rem;
    }

    .roundToggler:hover{
        opacity: 0.8;
    }
    .popup{
		width: 120%;
		height: 90vh;
		z-index: 1;
		background-color: $blue-dark;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		padding: 0.5rem;
        color: $white;
        border-radius: 0.5rem;
	}

    .popup-content{
		overflow-y: scroll;
        // overflow: hidden;
        max-height: 78vh;
    }

    .sessionTitle{
        font-size: 1.3rem;
    }

    .vote-content{
        margin-bottom: 0.5rem;

        
        .message-wrapper{
            padding: 1rem;
            background: $blue-light;
            position:relative;
            border-radius: 0.5rem;

            .vote-card{
                @extend .chat-vote;
                    position: absolute;
                    width: 2rem;
                }
        
            .name-sender{
                color: $gold;
                padding: 0.2rem 2rem;
                font-weight: 700;
            }

            h3{
                padding-left: 2rem;
                color: $gold;
            }
            
        }
        

    }

    .chat-content{
        margin-bottom: 0.5rem;
        padding: 0.5rem;

        h3{
            padding-left: 3rem;
            color: $gold;
        }

        .name-sender{
            font-size: 1.1rem;
            padding: 0.2rem 2rem;
            font-weight: 700;
            color: $gold;
        }

        .chat-message{
            padding: 0.7rem;
            background: $blue-light;
            border-radius: 1rem;
            margin:0.5rem;
        }

        .messageValue{
            padding: 0.3rem 2rem;

        }
    }

    .voteParent{
        display: flex;
        justify-content: space-around;
    }

    .sessionSubTitle{
        border: 1px solid $blue-light;
        padding: 0.5rem;
        border-radius: 1rem;
        text-align: center;
        margin: 0.2rem;
    }

    .roundTitles{
        display: flex;
        justify-content: space-around;
        h3{
            text-align: center;
            width: 50%;
        }
    }

    .sub-title{
        padding: 0.2rem;
    }

    .featureTitle{
        color:$gold
    }

	.center{
        padding: 0.5rem;
		text-align: center;
	}

	.border{
		border: $blue-light 2px solid;
        border-radius: 0.5rem;
        margin-bottom: 0.2rem;
	}

	.session{
		padding: 0.2rem;
	}
	.toggleBtn{
		color: $white;
		cursor: pointer;
	}

	.chevron{
		transition: 0.3s ease;
        color: $gold;
	}

    .feature-content{
        padding: 0rem 2rem 0rem 2rem;

    }

	.open{
		.chevron{
			transform: rotate(180deg);
			transition: 0.3s ease;
		}
	}

    &-form {
        margin: 20px 0;
        .header {
            margin: 20px;
        }

        label {
            color: $white;
            padding: 2px;
        }

        h1 {
            text-align: center;
        }

        span {
            float: right;
        }

        button {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        a {
            font-size: 12px;
            &:hover{
                color: $white;
            }
        }

        input {
            background-color: $blue-light;
            margin-bottom: 10px;
            border-radius: 10px;
            padding: 1rem 10px;
            color: $white;
            border: none;
            width: 100%;
        }

        .error {
            color: $red;
        }

        .success {
            color: $white;
        }

        .loader {
            border: 3px solid $white;
            border-radius: 70%;
            border-top: 3px solid transparent;
            animation: spin 1.2s linear infinite;
            position: fixed;
            z-index: 999;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 50px;
            height: 50px;
        }


    }

    &-list{
        display: inline-flex;
        p {
            color: $white;
            margin: 5px;
        }
    }
}

@keyframes spin
{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}