$border: 10px;

section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.d-none{
    display: none;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.relative{
    position: relative;
}

.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-col{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.items-center{
    align-items: center;
}

.items-start{
    align-items: flex-start;
}